body {
	overflow: hidden;
}

#alert {
    position: absolute;
    left: 3%;
    top: 0;
    right: 3%;
    bottom: 80%;
    text-align: left;
    transform: translateY(-100%);
    transition: .5s transform;
    background-color: rgb(0,0,0);
	opacity:0.85;
	color: rgb(255,255,255);	
    font-weight: normal;
    font-size: 150%;
	font-style: oblique;
    padding: 5px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
    z-index: 2;
}

#alert.show {
    transform: translateY(0);
    transition: 0.5s transform;
}

canvas {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

#square {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgb(0,0,0,0);
  overflow: hidden;
}

.nuage {
  position: absolute;
  transition: all 5s;
}
